<article class="post">
  <h3><a href="{{ post.url }}" rel="bookmark permalink" title="Permanent link to this post">{{ post.title }}</a></h3>

  {{ post.content }}

  <div class="meta">
    {{ post.date | date: "%Y-%m-%d" }}
    {% if post.tags.size > 0 %}
      &mdash;
      {% for tag in post.tags %}
        #{{ tag | downcase | replace: ' ', '-' }}
        <!-- <a
          href="/tag/{{ tag | downcase | replace: ' ', '-' }}/"
          rel="tag category"
          title="Search this site for other posts on {{ tag | downcase | escape }}">#{{tag | downcase}}</a> -->
      {% endfor %}
    {% endif %}
  </div>
</article>
